HW2/n8n_Workflow.json
{
  "updatedAt": "2025-12-24T10:13:51.193Z",
  "createdAt": "2025-12-19T03:31:55.990Z",
  "id": "kA81KTUGEimG5Fgp",
  "name": "Travel Bot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "mode": "id",
          "value": "appRtWAYhQeGtX2hu"
        },
        "tableId": {
          "__rl": true,
          "value": "tblkLilg646LiLPHt",
          "mode": "id"
        },
        "triggerField": "Created",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "90e11d06-0776-4207-9854-d640f20b160b",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "iSJgtejEKSAUJb6N",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json['Enter the promt that you want to add to the page'] ? \n   // CASE 1: Loop (Rejection)\n   \"The user rejected the previous travel guide. Here is their feedback: '\" + $json['Enter the promt that you want to add to the page'] + \"'. Please completely rewrite the HTML code for the guide, fixing these issues.\" :\n   \n   // CASE 2: First Run (Start)\n   \"Create a detailed HTML travel guide for \" + $('Airtable Trigger').item.json.fields.Name\n}}\n\n\nAct as a web developer backend.\nTarget City: {{ $('Airtable Trigger').fields.Name }}\n\nINSTRUCTION:\nGenerate the HTML source code for a travel guide page.\nReturn ONLY the raw HTML string. Do NOT use markdown code blocks (like ```html). Do NOT include any introductory text. Start directly with <!DOCTYPE html>.\n\nRules:\n1. Use standard HTML and CSS (internal styles).\n2. **Interactive Map:** Use the Leaflet.js library.\n   - Include Leaflet CSS & JS from unpkg CDN in the <head>.\n   - Initialize the map in a <script> tag at the bottom.\n    -Dont write a crossorigin and integrity vars in the <script>\n3. Content:\n   - H1 Title: \"{{ $('Airtable Trigger').fields.Name }}\"\n   - 3 Images: Use \"[https://image.pollinations.ai/prompt/](https://image.pollinations.ai/prompt/){{ $('Airtable Trigger').fields.Name }}%20landmark?seed=1\" (vary seeds 1,2,3).\n   - Attractions List: 5 real top attractions in {{ $('Airtable Trigger').fields.Name }}.\n   - **Map Logic:**\n     - Create a <div id=\"map\"> with height: 400px.\n     - In the script, create an array of those 5 attractions with their real Latitude/Longitude.\n     - Loop through the array to add Markers to the map.\n     - Use 'map.fitBounds()' to automatically center the map on the pins.\n\nFinal Output Format: Pure HTML string only."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "dffc7873-9ac5-40eb-8c4b-5441722fe6ed",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7RHvWO9jRUbkhMCl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "http://localhost:5678/workflow/kA81KTUGEimG5Fgp",
          "mode": "url"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1840,
        304
      ],
      "id": "404b1698-6d65-4388-be89-a53578063740",
      "name": "Get a workflow",
      "credentials": {
        "n8nApi": {
          "id": "f353z3lTsWzQBo7l",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Calculate the clean filename (keeping your regex logic)\nconst fileName = `HW2/${$json.name.replace(/[^a-z0-9_-]/gi, \"_\")}.json`;\n\n// 2. Convert the entire workflow data to a text string\nconst jsonContent = JSON.stringify($json, null, 2);\n\n// 3. Return clean JSON (No Binary)\nreturn [\n  {\n    json: {\n      fileName: fileName,\n      content: jsonContent\n    }\n  }\n];"
      },
      "id": "47862433-5623-4319-8fb4-02b2b5c12a9b",
      "name": "JSON to File",
      "type": "n8n-nodes-base.code",
      "position": [
        2032,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Gutismall",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "Afeka_Guterman",
          "mode": "list",
          "cachedResultName": "Afeka_Guterman",
          "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
        },
        "filePath": "=HW2/n8n_Workflow.json",
        "fileContent": "={{ $('JSON to File').item.json.content }}",
        "commitMessage": "Save Workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2416,
        304
      ],
      "id": "b351e8a3-03ee-4f24-8bfe-edab8a2fb3dc",
      "name": "Create a file",
      "webhookId": "478e37d0-8602-450e-9b70-6d927738bf6a",
      "credentials": {
        "githubApi": {
          "id": "6wElnNbpqiy9Z5hf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Gutismall",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "Afeka_Guterman",
          "mode": "list",
          "cachedResultName": "Afeka_Guterman",
          "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
        },
        "filePath": "HW2/n8n_Workflow.json",
        "commitMessage": "delete file"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2240,
        304
      ],
      "id": "be69153a-934a-437f-9ff4-69439e7d511c",
      "name": "Delete a file",
      "webhookId": "2ef3bb31-eac2-4d8a-9a24-8d7e08b710b0",
      "executeOnce": false,
      "credentials": {
        "githubApi": {
          "id": "6wElnNbpqiy9Z5hf",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "ari.guter@gmail.com",
        "subject": "=Review Required: Travel Guide for {{ $('Airtable Trigger').item.json.fields.Name }}",
        "message": "=<p>Hello,</p>  <p>Please find the generated Travel Guide attached to this email.</p>  <p><strong>Step 1:</strong> Download and open the attached HTML file to view the itinerary.</p>  <p><strong>Step 2:</strong> Click the link below to Approve or Reject the guide:</p>  <a href=\"{{$execution.resumeFormUrl}}\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold;\">\n  👉 Click Here to Approve or Reject\n</a> <p>Best regards,<br> Travel Bot</p>\n\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        0
      ],
      "id": "edd3f609-5dce-4850-8574-bfc509fc66d6",
      "name": "Send a message",
      "webhookId": "ec5f8cd8-92a5-4240-91d9-7f0515f025ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "CnrFlvc7dRHZu5hC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Do you want this html page ?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Accept or Reject the html page",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Accept"
                  },
                  {
                    "option": "Reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Enter the promt that you want to add to the page"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "id": "1394b4dc-7e29-4a4f-aefd-4a4b1cca7a66",
      "name": "Wait",
      "webhookId": "2bff2d15-4644-42da-b18f-cb224e5d5b7b"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the HTML string from the AI node's output\n// We use the exact path seen in your error message\nconst htmlContent = $input.first().json.content.parts[0].text;\n\n// 2. Create the binary file object manually\nconst binaryData = {\n  data: Buffer.from(htmlContent).toString('base64'),\n  mimeType: 'text/html',\n  fileExtension: 'html',\n  fileName: 'TravelGuide.html'\n};\n\n// 3. Return the data to the next node (Gmail)\nreturn {\n  json: $input.first().json, // Keep the text data flow\n  binary: {\n    data: binaryData // This 'data' key is what you will type in the Gmail node\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "c62eeb67-9c8d-41a0-9746-9be0b6fe9913",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a19ca87-b358-40f4-8ec9-ab064bfc17cf",
              "leftValue": "={{ $json[\"Accept or Reject the html page\"] }}",
              "rightValue": "Accept",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        0
      ],
      "id": "7e43e945-46e1-42dd-94ab-151f5659f169",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Gutismall",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "Afeka_Guterman",
          "mode": "list",
          "cachedResultName": "Afeka_Guterman",
          "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
        },
        "filePath": "=HW2/HtmlPages/{{ $('Airtable Trigger').item.json.fields.Name }} {{ $('Airtable Trigger').item.json.fields.Created }}.html",
        "binaryData": true,
        "commitMessage": "Added a new page"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1584,
        -128
      ],
      "id": "81bf4bd5-eaae-4ed1-9726-69ec2b6e329c",
      "name": "Create a file1",
      "webhookId": "7759f75b-6322-4d33-9c03-954d3f46b10d",
      "credentials": {
        "githubApi": {
          "id": "6wElnNbpqiy9Z5hf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the binary file from your earlier node\n// Make sure 'Code in JavaScript' matches the EXACT name of the node that created the HTML file\nconst binaryFile = $('Code in JavaScript').first().binary.data;\n\n// 2. Return the current JSON + the restored Binary file\nreturn {\n  json: $input.first().json, // Keep the Form data (Accept/Reject)\n  binary: {\n    data: binaryFile // Put the file back into the stream as 'data'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -128
      ],
      "id": "127b3803-6898-4bde-96a9-031be723e142",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow": {
      "main": [
        [
          {
            "node": "JSON to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to File": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file1": {
      "main": [
        [
          {
            "node": "Get a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-12-24T10:14:11Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef5e3531-bc99-483c-bc3d-11e7a6bf8751",
  "activeVersionId": "2455c9ae-2ade-43d5-8b80-a8fc84e25fc2",
  "versionCounter": 56,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-19T03:31:55.993Z",
      "createdAt": "2025-12-19T03:31:55.993Z",
      "role": "workflow:owner",
      "workflowId": "kA81KTUGEimG5Fgp",
      "projectId": "EDd0kGi6pxqa9hn1",
      "project": {
        "updatedAt": "2025-12-18T15:51:26.310Z",
        "createdAt": "2025-12-18T15:44:06.306Z",
        "id": "EDd0kGi6pxqa9hn1",
        "name": "Ari Guterman <ari.guter@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-18T15:44:06.307Z",
            "createdAt": "2025-12-18T15:44:06.307Z",
            "userId": "84267641-64ba-4a5e-b2ce-599124e9087e",
            "projectId": "EDd0kGi6pxqa9hn1",
            "user": {
              "updatedAt": "2025-12-24T05:25:33.000Z",
              "createdAt": "2025-12-18T15:44:06.169Z",
              "id": "84267641-64ba-4a5e-b2ce-599124e9087e",
              "email": "ari.guter@gmail.com",
              "firstName": "Ari",
              "lastName": "Guterman",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-18T15:51:49.211Z",
                "personalization_survey_n8n_version": "2.0.3",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companyType": "education",
                "role": "devops"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "kA81KTUGEimG5Fgp",
                "userActivatedAt": 1766336033977
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-24T10:06:23.000Z",
    "createdAt": "2025-12-24T10:06:18.911Z",
    "versionId": "2455c9ae-2ade-43d5-8b80-a8fc84e25fc2",
    "workflowId": "kA81KTUGEimG5Fgp",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "authentication": "airtableTokenApi",
          "baseId": {
            "__rl": true,
            "mode": "id",
            "value": "appRtWAYhQeGtX2hu"
          },
          "tableId": {
            "__rl": true,
            "value": "tblkLilg646LiLPHt",
            "mode": "id"
          },
          "triggerField": "Created",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.airtableTrigger",
        "typeVersion": 1,
        "position": [
          48,
          0
        ],
        "id": "90e11d06-0776-4207-9854-d640f20b160b",
        "name": "Airtable Trigger",
        "credentials": {
          "airtableTokenApi": {
            "id": "iSJgtejEKSAUJb6N",
            "name": "Airtable account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-flash-latest",
            "mode": "list",
            "cachedResultName": "models/gemini-flash-latest"
          },
          "messages": {
            "values": [
              {
                "content": "={{ $json['Enter the promt that you want to add to the page'] ? \n   // CASE 1: Loop (Rejection)\n   \"The user rejected the previous travel guide. Here is their feedback: '\" + $json['Enter the promt that you want to add to the page'] + \"'. Please completely rewrite the HTML code for the guide, fixing these issues.\" :\n   \n   // CASE 2: First Run (Start)\n   \"Create a detailed HTML travel guide for \" + $('Airtable Trigger').item.json.fields.Name\n}}\n\n\nAct as a web developer backend.\nTarget City: {{ $json.fields.Name }}\n\nINSTRUCTION:\nGenerate the HTML source code for a travel guide page.\nReturn ONLY the raw HTML string. Do NOT use markdown code blocks (like ```html). Do NOT include any introductory text. Start directly with <!DOCTYPE html>.\n\nRules:\n1. Use standard HTML and CSS (internal styles).\n2. **Interactive Map:** Use the Leaflet.js library.\n   - Include Leaflet CSS & JS from unpkg CDN in the <head>.\n   - Initialize the map in a <script> tag at the bottom.\n    -Dont write a crossorigin and integrity vars in the <script>\n3. Content:\n   - H1 Title: \"{{ $json.fields.Name }}\"\n   - 3 Images: Use \"[https://image.pollinations.ai/prompt/](https://image.pollinations.ai/prompt/){{ $json.fields.Name }}%20landmark?seed=1\" (vary seeds 1,2,3).\n   - Attractions List: 5 real top attractions in {{ $json.fields.Name }}.\n   - **Map Logic:**\n     - Create a <div id=\"map\"> with height: 400px.\n     - In the script, create an array of those 5 attractions with their real Latitude/Longitude.\n     - Loop through the array to add Markers to the map.\n     - Use 'map.fitBounds()' to automatically center the map on the pins.\n\nFinal Output Format: Pure HTML string only."
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          240,
          0
        ],
        "id": "dffc7873-9ac5-40eb-8c4b-5441722fe6ed",
        "name": "Message a model",
        "credentials": {
          "googlePalmApi": {
            "id": "7RHvWO9jRUbkhMCl",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "http://localhost:5678/workflow/kA81KTUGEimG5Fgp",
            "mode": "url"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1840,
          304
        ],
        "id": "404b1698-6d65-4388-be89-a53578063740",
        "name": "Get a workflow",
        "credentials": {
          "n8nApi": {
            "id": "f353z3lTsWzQBo7l",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Calculate the clean filename (keeping your regex logic)\nconst fileName = `HW2/${$json.name.replace(/[^a-z0-9_-]/gi, \"_\")}.json`;\n\n// 2. Convert the entire workflow data to a text string\nconst jsonContent = JSON.stringify($json, null, 2);\n\n// 3. Return clean JSON (No Binary)\nreturn [\n  {\n    json: {\n      fileName: fileName,\n      content: jsonContent\n    }\n  }\n];"
        },
        "id": "47862433-5623-4319-8fb4-02b2b5c12a9b",
        "name": "JSON to File",
        "type": "n8n-nodes-base.code",
        "position": [
          2032,
          304
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Gutismall",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "Afeka_Guterman",
            "mode": "list",
            "cachedResultName": "Afeka_Guterman",
            "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
          },
          "filePath": "=HW2/n8n_Workflow.json",
          "fileContent": "={{ $('JSON to File').item.json.content }}",
          "commitMessage": "Save Workflow"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2416,
          304
        ],
        "id": "b351e8a3-03ee-4f24-8bfe-edab8a2fb3dc",
        "name": "Create a file",
        "webhookId": "478e37d0-8602-450e-9b70-6d927738bf6a",
        "credentials": {
          "githubApi": {
            "id": "6wElnNbpqiy9Z5hf",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Gutismall",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "Afeka_Guterman",
            "mode": "list",
            "cachedResultName": "Afeka_Guterman",
            "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
          },
          "filePath": "HW2/n8n_Workflow.json",
          "commitMessage": "delete file"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2240,
          304
        ],
        "id": "be69153a-934a-437f-9ff4-69439e7d511c",
        "name": "Delete a file",
        "webhookId": "2ef3bb31-eac2-4d8a-9a24-8d7e08b710b0",
        "executeOnce": false,
        "credentials": {
          "githubApi": {
            "id": "6wElnNbpqiy9Z5hf",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sendTo": "ari.guter@gmail.com",
          "subject": "=Review Required: Travel Guide for {{ $('Airtable Trigger').item.json.fields.Name }}",
          "message": "=<p>Hello,</p>  <p>Please find the generated Travel Guide attached to this email.</p>  <p><strong>Step 1:</strong> Download and open the attached HTML file to view the itinerary.</p>  <p><strong>Step 2:</strong> Click the link below to Approve or Reject the guide:</p>  <a href=\"{{$execution.resumeFormUrl}}\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold;\">\n  👉 Click Here to Approve or Reject\n</a> <p>Best regards,<br> Travel Bot</p>\n\n",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          784,
          0
        ],
        "id": "edd3f609-5dce-4850-8574-bfc509fc66d6",
        "name": "Send a message",
        "webhookId": "ec5f8cd8-92a5-4240-91d9-7f0515f025ab",
        "credentials": {
          "gmailOAuth2": {
            "id": "CnrFlvc7dRHZu5hC",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Do you want this html page ?",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Accept or Reject the html page",
                "fieldType": "radio",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Accept"
                    },
                    {
                      "option": "Reject"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Enter the promt that you want to add to the page"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          976,
          0
        ],
        "id": "1394b4dc-7e29-4a4f-aefd-4a4b1cca7a66",
        "name": "Wait",
        "webhookId": "2bff2d15-4644-42da-b18f-cb224e5d5b7b"
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the HTML string from the AI node's output\n// We use the exact path seen in your error message\nconst htmlContent = $input.first().json.content.parts[0].text;\n\n// 2. Create the binary file object manually\nconst binaryData = {\n  data: Buffer.from(htmlContent).toString('base64'),\n  mimeType: 'text/html',\n  fileExtension: 'html',\n  fileName: 'TravelGuide.html'\n};\n\n// 3. Return the data to the next node (Gmail)\nreturn {\n  json: $input.first().json, // Keep the text data flow\n  binary: {\n    data: binaryData // This 'data' key is what you will type in the Gmail node\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          0
        ],
        "id": "c62eeb67-9c8d-41a0-9746-9be0b6fe9913",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6a19ca87-b358-40f4-8ec9-ab064bfc17cf",
                "leftValue": "={{ $json[\"Accept or Reject the html page\"] }}",
                "rightValue": "Accept",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1184,
          0
        ],
        "id": "7e43e945-46e1-42dd-94ab-151f5659f169",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Gutismall",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "Afeka_Guterman",
            "mode": "list",
            "cachedResultName": "Afeka_Guterman",
            "cachedResultUrl": "https://github.com/Gutismall/Afeka_Guterman"
          },
          "filePath": "=HW2/HtmlPages/{{ $('Airtable Trigger').item.json.fields.Name }} {{ $('Airtable Trigger').item.json.fields.Created }}.html",
          "binaryData": true,
          "commitMessage": "Added a new page"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1584,
          -128
        ],
        "id": "81bf4bd5-eaae-4ed1-9726-69ec2b6e329c",
        "name": "Create a file1",
        "webhookId": "7759f75b-6322-4d33-9c03-954d3f46b10d",
        "credentials": {
          "githubApi": {
            "id": "6wElnNbpqiy9Z5hf",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the binary file from your earlier node\n// Make sure 'Code in JavaScript' matches the EXACT name of the node that created the HTML file\nconst binaryFile = $('Code in JavaScript').first().binary.data;\n\n// 2. Return the current JSON + the restored Binary file\nreturn {\n  json: $input.first().json, // Keep the Form data (Accept/Reject)\n  binary: {\n    data: binaryFile // Put the file back into the stream as 'data'\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          -128
        ],
        "id": "127b3803-6898-4bde-96a9-031be723e142",
        "name": "Code in JavaScript1"
      }
    ],
    "connections": {
      "Airtable Trigger": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a workflow": {
        "main": [
          [
            {
              "node": "JSON to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON to File": {
        "main": [
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file1": {
        "main": [
          [
            {
              "node": "Get a workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Create a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ari Guterman",
    "name": "Version 2455c9ae",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-24T10:06:23.644Z",
        "id": 1,
        "workflowId": "kA81KTUGEimG5Fgp",
        "versionId": "2455c9ae-2ade-43d5-8b80-a8fc84e25fc2",
        "event": "activated",
        "userId": "84267641-64ba-4a5e-b2ce-599124e9087e"
      }
    ]
  }
}